/* @import url("colors.css"); */
#CV {
  color: var(--fc-1);
}
body.CV, html.CV {
  background-color: var(--bc-3);
}
#CV h1, #CV h2, #CV h3 {
  background-color: transparent;
}
#CV p {
  font-size: 1.5em;
  margin: 0 0 0 4em;
  padding: 0em;
  text-align: justify;
  color: var(--fc-w1);
}
#CV li {
  font-size: 1em;
  margin: 0 0 0 4em;
  padding: 1em;
  color: var(--fc-w2);
}

#author {
  width: 50%;
  font-size: 1vw;
  height:85vh;
}

#ORCiD {
  color: var(--fc-3);
}

#arXiv {
  color: var(--fc-4);
}

div.footer, div.header, a {
  color: var(--nav-for);
  background-color: var(--nav-bac);
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font: 400 15px/1.8 "Lato", sans-serif; */
  background-color: var(--ds-bac);
  color: var(--ds-for);
  font-family: Serif;
}
a {
  font-size: 1.5em;
  text-decoration: none; 
}
a:hover {
  background-color: var(--nav-bac-sel);
  transition: 0.25s;
}

h1, h2, h3 {
  font-variant: small-caps;
  font-weight: normal;
  margin: 1em;
  /* background-color: transparent; */
  font-variant: normal;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
p {
  font-size: 2em;
  margin: 1em;
  font-family: Monospace;
  color: var(--ds-par);
}

.bac {
	position: relative;
	z-index: 0;
}
.mid {
	position: relative;
	z-index: 1;
}
.for {
	position: relative;
	z-index: 2;
}

.parallax { 
  /* Image and image position */
  /* background-image: url("images/space0.jpg"); */
  background-color: transparent; /*rgb(0,0,0,0.4);*/
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  min-width: 100%;
  min-height: 100%; 
  /* Scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax img, .parallax svg, .parallax object{
  width: 100%;
  height: 100%;
  /*
  min-width: 300px;
  min-height: 200px;
  */
  object-fit: cover;
  object-position: center;
}

.block {
  box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.82);
  transition: 0.3s;
  min-width: 20px;
  padding: 10px;
  margin: 25px auto;
  min-height: 20px;
  border-radius: 5px;
  /* font-size: 32pt; */
}
.block:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.block.text {
  padding: 2px 16px;
}

/* Style the header */
.header {
  /*
  position: fixed;
  top: 0px;
  */
  width: 100%;
  height: 5vw;
  text-align: center;
  border: 3px solid;
  box-shadow: 0px 0px 4px 4px black;
  border-radius: 0px;
  box-sizing: border-box;
  /* transition: 0.5s; */
  overflow: auto;
}
.header div {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}
.header h1 {
  font-size: 2vw;
  margin: 0.9vw 5vw 0.9vw 5vw;
  padding: 0vw;
  float: left;
  left: 0;
}
.header p {
  position: absolute;
  padding: 0;
  margin: auto;
  height: 100%;
  width: auto;
  text-align: justify;
  right: 0;
}
.header a {
  float: left;
  height: 100%;
  width: 25vw;
  padding: 0vw;
  margin: auto;
  border-left: 4px solid;
}
.header img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

/* Style the footer */
.footer {
  height: 3.5vw;
  width: 100%;
  overflow: auto;
}
.footer a {
  text-align: center;
  font-size: 1.5vw;
  float: left;
  height: 100%;
  width: 25%;
  padding: 0.5vw;
  box-sizing: border-box;
  text-decoration: underline;
  margin: 0px 0px;
  border-radius: 0px;
  border: 3px solid;
}

/* Style the navigator */
.navigator {
  position: fixed;
  top: 50%;
  left: auto;
  right: 10px;
  width: auto;
  margin: 0px 0px;
  opacity: 0.01;
  transform: translate(0,-50%);
  padding: 0px 0px;
  text-align: justify;
  color: var(--nav-for);
  border: 2px solid;
  box-shadow: 0px 0px 4px 4px black;
  transition: 0.5s;
}
.navigator:hover {
  opacity: 0.95;
  transition: 0.5s;
  box-shadow: 0px 0px 4px 4px black;
}
.navigator ul {
  list-style-type: none;
  height: 100%;
  padding: 0px;
  margin: 0px;
  opacity: 0;
}
.navigator ul:hover {
  opacity: 1.0;
}
.navigator li {
  margin: 0;
  padding: 0;
  color: var(--nav-for);
  border-bottom: 2px solid;
}
.navigator li:last-child {
  border-bottom: none;
}
.navigator a {
  padding: 10px 10px;
  display: block;
}

div.content {
  margin: 0;
  overflow: auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
div.content.left {
  background-image: linear-gradient(to right, rgb(0,0,0,0.9) 30%, rgb(0,0,0,0.8) 60%, rgb(0,0,0,0.6) 80%, rgb(0,0,0,0.5) 85%, rgb(0,0,0,0.4) 90%, rgb(0,0,0,0.2) 95%, rgb(0,0,0,0.1) 98%,  transparent 100%);
}
div.content.above {
  background-image: linear-gradient(to bottom, rgb(0,0,0,0.92) 80%, rgb(0,0,0,0.8) 90%, rgb(0,0,0,0.3) 95%, transparent 100%);
  background-image: url("../images/blurred-gradient-above.png");
}
div.content.middle {
  background-image: url("../images/blurred-gradient-middle.png");
}
div.content.below {
  background-image: url("../images/blurred-gradient-below.png");
}

/* Create three unequal columns that float next to each other */
.column {
  float: left;
  padding: 1%;
  text-align: center;
}

/* Left and right column */
.column.side {
  width: 23%;
}

/* Middle column */
.column.middle {
  align: center;
  width: 48%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: 98%;
  }
}
